<nav>
  <div data-sticky-container>
    <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%; height: 60px;">
      <div class="title-bar-left">
        <ul class="menu">
          <li class="menu-text"><a href="index.html">MICHAEL MARROW</a></li>
        </ul>
      </div>
      <div class="title-bar-right">
        <ul class="menu">
          <li><a href="#about">ABOUT</a></li>
          <li><a href="#projects">PROJECTS</a></li>
          <li><a href="#toolbox">SKILLS</a></li>
          <li><a href="#contact">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>