/*animation element*/

.animation-element {
  opacity: 0;
  position: relative;
}

/*animation element sliding left*/
.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-600px, 0px, 0px);
  -webkit-transform: translate3d(-600px, 0px, 0px);
  -o-transform: translate(-600px, 0px);
  -ms-transform: translate(-600px, 0px);
  transform: translate3d(-600px, 0px, 0px);
}

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

// Fade up animation
//.animation-element.fade-up {
//  opacity: 0;
//  -moz-transition: all 700ms ease-out;
//  -webkit-transition: all 700ms ease-out;
//  -o-transition: all 700ms ease-out;
//  transition: all 700ms ease-out;
//  -moz-transform: translate3d(0px, 200px, 0px);
//  -webkit-transform: translate3d(0px, 200px, 0px);
//  -o-transform: translate(0px, 200px);
//  -ms-transform: translate(0px, 200px);
//  transform: translate3d(0px, 200, 0px);
//  -webkit-backface-visibility: hidden;
//  -moz-backface-visibility: hidden;
//  backface-visibility: hidden;
//}

//.animation-element.fade-up.in-view {
//  opacity: 1;
//  -moz-transform: translate3d(0px, 0px, 0px);
//  -webkit-transform: translate3d(0px, 0px, 0px);
//  -o-transform: translate(0px, 0px);
//  -ms-transform: translate(0px, 0px);
//  transform: translate3d(0px, 0px, 0px);
//}

//.project:hover,
//.project:active {
//  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.25);
//}
//
//.project {
//  -moz-transition: all 400ms linear;
//  -webkit-transition: all 400ms linear;
//  -o-transition: all 400ms linear;
//  transition: all 400ms linear;
//}


// Bounce animation
.animation-element.bounce.in-view {
  opacity: 1;
  animation: bounce 800ms ease-out;
}

@keyframes bounce {
  0% {
    transform:translateY(-100%);
    opacity: 0;
  }
  5% {
    transform:translateY(-100%);
    opacity: 0;
  }
  15% {
    transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
    transform:translateY(-50%);
  }
  40% {
    transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
    transform:translateY(-30%);
  }
  70% {
    transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
    transform:translateY(-15%);
  }
  90% {
    transform:translateY(0%);
    padding-bottom: 8px;
  }
  95% {
    transform:translateY(-7%);
  }
  97% {
    transform:translateY(0%);
    padding-bottom: 9px;
  }
  99% {
    transform:translateY(-3%);
  }
  100% {
    transform:translateY(0);
    padding-bottom: 9px;
    opacity: 1;
  }
}