// color: #F87531;
// color: #FCE6C9
// color: #9D1309
// color: #FF2400

h1 {
  span {
    display: block;
    font-size: 5rem;
  }
}

section {
  margin-top: 40px;
  
  hr {
    max-width: 15rem;
  }
}

.title-bar-right .menu a {
  color: #FFF;
}

#about {
  margin-bottom: 60px;
}

.about-pic {
  margin-top: 1.6em;
}

#contact {
  background: #EEE;
  padding-top: 40px;
  padding-bottom: 40px;
}

#projects {  
  .row {
    margin: 0;
    max-width: 100%;
  }
  .columns {
    padding-left: 15px;
    padding-right: 15px;
  }
  img {
    margin: 0 auto;
    display: block;
  }
  hr {
    margin-bottom: 2em;
  }
}
.project { 
  figure {
    margin: 0;
    position: relative;
  }
  figcaption {
    position: absolute;
    top: 5px;
    color: #FFF;
    padding: 15px;
    
    h3 {
      font-size: 1.4em;
      font-weight: bold;
    }
  }
}

#toolbox {
  img {
    height: 6em;
    display: block;
    margin: 20px auto;
  }
}

.social-icons {
  margin-top: 20px;
}

footer {
  background-color: #000;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #FFF;
}