h1 {
  span {
    display: block;
    font-size: 5rem;
  }
}

section {
  margin-top: 40px;
}

#contact {
  background: #EEE;
  padding-top: 40px;
  padding-bottom: 40px;
}

#projects {  
  .row {
    margin: 0;
    max-width: 100%;
  }
  .columns {
    padding: 0;
  }
  img {
    margin: 0 auto;
    display: block;
  }
}
.project { 
  figure {
    margin: 0;
    position: relative;
  }
  figcaption {
    position: absolute;
    top: 10px;
    color: #FFF;
    padding: 0px 15px;
    
    h3 {
      font-size: 1.4em;
      font-weight: bold;
    }
  }
}

.social-icons {
  margin-top: 20px;
}

footer {
  background-color: teal;
  padding-top: 20px;
  padding-bottom: 20px;
}