h1 {
  span {
    display: block;
    font-size: 5rem;
  }
}

section {
  margin-top: 40px;
}

section:nth-child(odd) {
  background: #EEE;
  padding-top: 40px;
  padding-bottom: 40px;
}
.social-section,
.works-section {
  img {
    margin: 0 auto;
    display: block;
  }
}

figure {
  margin: 0;
}
footer {
  background-color: teal;
  padding-top: 20px;
  padding-bottom: 20px;
}