/*----------------------------------*/
/***** Hover effect on projects *****/
/*----------------------------------*/

figure.hover-effect {
  background: #9e5406;
}

figure.hover-effect img {
  opacity: 0.7;
}

figure.hover-effect:hover img {
  opacity: 0.3;
}

figure.hover-effect figcaption::before,
figure.hover-effect figcaption::after {
  position: absolute;
  top: 1.6em;
  right: 1.6em;
  bottom: 1.6em;
  left: 1.6em;
  content: '';
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
}

figure.hover-effect figcaption::before {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: scale(0,1);
}

figure.hover-effect figcaption::after {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  transform: scale(1,0);
}

figure.hover-effect h3 {
  padding-top: 12%;
  transition: transform 0.35s;
  transform: translate3d(0,-20px,0);
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
}

figure.hover-effect p {
  padding: 1.2em 2.5em;
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(0,20px,0);
}

figure.hover-effect:hover figcaption::before,
figure.hover-effect:hover figcaption::after {
  opacity: 1;
  transform: scale(1);
}

figure.hover-effect:hover h3,
figure.hover-effect:hover p {
  opacity: 1;
  transform: translate3d(0,0,0);
}